span.plagiarismreport span.rank10,
span.plagiarismreport span.rank9,
span.plagiarismreport span.rank8,
span.plagiarismreport span.rank7,
span.plagiarismreport span.rank6,
span.plagiarismreport span.rank5,
span.plagiarismreport span.rank4,
span.plagiarismreport span.rank3,
span.plagiarismreport span.rank2,
span.plagiarismreport span.rank1 {
    color: #fff;
    font-weight: bold;
    padding: 2px;
}

span.plagiarismreport span.rank1 {
    background: #000;
}

span.plagiarismreport span.rank2 {
    background: #000;
}

span.plagiarismreport span.rank3 {
    background: #ae2721;
}

span.plagiarismreport span.rank4 {
    background: #d82c2a;
}

span.plagiarismreport span.rank5 {
    background: #ee5d5a;
}

span.plagiarismreport span.rank6 {
    background: #f07110;
}

span.plagiarismreport span.rank7 {
    background: #ffca08;
}

span.plagiarismreport span.rank8 {
    background: #ffea59;
    color: #333;
}

span.plagiarismreport span.rank9 {
    background: #ffff9d;
    color: #333;
}

span.plagiarismreport span.rank10 {
    background: #669934;
}

span.plagiarismreport img {
    vertical-align: bottom;
}